body, html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 15pt;
  margin: 50px 0 0 0;
  padding: 0;
  color: #000000;
  background-image: url("images/achtergrond.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgHeader {
  border-radius: 8px;
    width: 200px;
    height: 150px;
}

.article {
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
    height: content;
}

.article2 {
    margin: 0 50px 0 50px;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
    height: content;
}


.article>h1,
.header {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.header>h2,
.header>p {
    margin: .2rem;
    font-size: 1rem;
}

.fontSansSerif20px {
  font-family: sans-serif;
  padding: 0 20px;
  font-size: 16px;
  font-style: italic;
}

.navbar {
 position: fixed;
  list-style-type: none;
  margin: 0;
  top: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: #000;
  z-index: 1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #444444;
}

.navbar .active {
  background-color: #666;
  color: white;
}

#hpRight {
float: right;
margin: 0 0 0 15px;
}

#hpLeft {
float: left;
margin: 0 15px 0 0;
}

.input{
  width: 90%;
  margin-top: 25px;
  border-style: none;
  padding: 25px;
}

.submit {
    width: 95%;
    margin-top: 25px;
    border-style: none;
    padding: 25px;
    background-color: #c2d6d6;
}

.contact fieldset{
  border: 0;
}

.contact fieldset > legend{
  visibility: hidden;
  width: 95%;
}

section {
    margin: 0px 100px 0px 100px;
    border-radius: 15px;
}
